@media screen and (min-width: 1200px) {
	.container {
		width: 100%;
	}

	.circle_1{
		height: 978px;
		width: 978px;
		top:-660px;
		left:-350px;

	}
	.circle_2 {
		height: 978px;
		width: 978px;
		bottom: -660px;
		right: -350px;

	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 100%;

	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.circle_1{
		height: 375px;
        width: 375px;
        top:-160px;
        left:-167px;

	}
	.circle_2 {
		height: 375px;
        width: 375px;
        bottom: -79px;
        right: -167px;

	}
}
@media screen and (max-width: 330px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.circle_1{
		height: 375px;
        width: 375px;
        top:-180px;
        left:-200px;

	}
	.circle_2 {
		height: 375px;
        width: 375px;
        bottom: -180px;
        right: -200px;

	}
}