* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(/img/back.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.main {
    max-width: 1110px;
    margin: 0 auto;
    padding: 17px 15px 0px 15px;
}
.header__inner {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__text {
    font-size: 18px;
    line-height: 1.1px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header__cloud {
    margin-right: 7px;
}
.nav {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto ;
}
.nav__link {
    margin-left: 20px;
    color: #FFFFFF;
}
nav .fas, 
.header__logo .fas {
    display: none;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__link::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: #FFFFFF;
    margin: auto;
    display: block;
    transition: .5s;
}
.nav__link:hover::after {
    width: 100%;
}

.header__btn {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 11px 28px;
    
}
.header__login {
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    text-align: center;
    max-width: 100px;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    margin-right: -5%;
}
.intro__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro__title {
    margin: 0 0 40px;
    letter-spacing: 0.05em;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 578px;
    text-align: center;
}
.intro__subtitle {
    margin-bottom: 50px;
    max-width: 540px;
    font-size: 24px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    padding: 0 5%;
    text-align: center;
}
.intro__btn {
    display: inline-block;
    vertical-align: top;
    padding: 17px 52px;
    border-radius: 6px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #ED4C5C; 
    line-height: 1.1;
}

/* ======2BLOCK====== */


.mng__soft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    height: 500px;
}
.mng__soft__wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.mng__soft__pic {
    background-image: url(/img/Video_bg.png);
    background-position: center;
    background-size: cover;
    width: 445px;
    height: 311px;
    margin-right: 5%;
}
.mng__soft__text {
    width: 445px;
    min-height: 225px;
}
.mng__soft__header {
    margin-bottom: 40px;
}
.header__main {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
}
.mng__soft__subtitle {
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    margin-bottom: 20px;
}
.mng__soft__btn {
    color: #ED4C5C;
    font-size: 14px;
}
.mng__features__wrapper {
    min-height: 660px;
    background: #FAFAFA;
}
.mng__features {
    max-width: 1110px;
    margin: 0 auto;
}
.mng__features__header {
    text-align: center;
    padding-top: 63px;
    margin-bottom: 63px;

}
.mng__features__blocks {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1110px;
    min-height: 355px;
}
.mng__features__block {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 350px;
    height: 355px;
    width: 100%;
    text-align: center;
}
.mng__features_info {
    position: absolute;
    bottom: 0;
    width: 293px;
    height: 198px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    
}
.mng__features__block_header {
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 22px;
}
.header__features {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    margin-left: 10%;
    margin-right: 10%;
}
.mng__features__block_subtitle {
    margin-bottom: 10px;
}
.subtitle__features {
    font-size: 12px;
    line-height: 1.5;
    padding-left: 12%;
    padding-right: 12%;
}
.mng__features__block_readmore {
    color: #ED4C5C;
    font-size: 12px;
}
.mng__features_pic {
    position: absolute;
    top: 0px;
}

/* =====3BLOCK===== */

.tech__top {
    max-width: 1110px;
    min-height: 500px;
    margin: 0 auto;
}
.tech__form {
    height: 226px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tech__blocks {
    position: relative;
    width: 255px;
    height: 100%;
    text-align: center;
}
.tech__bottom {
    background: #ED4C5C;
    position: relative;
    min-height: 500px;
    width: 100%;
}
.tech__stayFoc {
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mng__soft__pics {
    margin-top: 44px;
}
.mng__soft__img{
    margin-right: 25px;
}
.tech__header__position {
    margin-bottom: 5%;
}
.tech__icon_pics {
    display: flex;
    justify-content: center;
    margin-top: -13%;
    flex-direction: column;
    margin-bottom: 7%;
    height: 60px;
}
.tech__blocks__arrow{
    margin-top: -10%;
}
.tech__bottom_pic {
    background-image: url(/img/stayfocused.png);
    background-position: center;
    background-size: cover;
    width: 445px;
    height: 311px;
    margin-right: 5%;
}
.tech__wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.tech__text__color {
    color: #FFFFFF;
}

/* =====Contact===== */

.contact {
    height: 500px;
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 117px;
}
.contact__info {
    height: 165px;
    width: 445px;
}
.contact_flex {
    display: flex;
    justify-content: space-between;
}
.contact__form {
    width: 540px;
    height: 305px;
    position: relative;
}
.contact__form__div{
    position: relative;
    margin-bottom: 1.3rem;
}
.contact__subtitle {
margin-top: 60px;
}
.contact__form__btn {
    background: #ED4C5C;
    padding: 17px 34px;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 6px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: .3s;
}
.contact__form__name {
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
}
.contact__form__label {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    font-size: 16px;
    color: #13274380;
    padding: 0 .25rem;
    background-color: #FFF;
    transition: .3s;
}
.contact__form__lastname {
    width: 255px;
    height: 60px; 
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px
}
.contact__form__phone {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px 
}
.contact__form__question {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px
}
.form__input:focus + .contact__form__label {
    top: -.5rem;
    left: .8rem;
    color: #ED4C5C;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .contact__form__label {
    top: -.5rem;
    left: .8rem;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}
.form__input:focus {
    outline: none;
    border-color: #ED4C5C;
    box-shadow: 0 0 6px #ED4C5C;
}


/* ======footer===== */

.footer {
    background: #FAFAFA;
    padding-top: 80px;
    height: 435px;
}

.footer__info {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__block1 {
    width: 259px;
    height: 264px;
    padding-right: 9%;
    position: relative;
    text-align: left;
}
.footer__block2 {
    width: 150px;
    height: 164px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__block3 {
    width: 122px;
    height: 128px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__block3__icons {
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 15px;
}
.footer__block4 {
    width: 216px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer__block__header {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 30px;
}
.footer__block__subtitle {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 5px;
}
.subtitle__footer_block1 {
    margin-top: 30px;
}
.Copyright {
    bottom: 0;
    position: absolute;
}
.footer__block1__text__position {
line-height: 20px;
}
.footer__secure {
    width: 216px;
    height: 31px;
}